/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-block-pts-content-block-icon-text {
    font-size: 90%;
    .icon {
        &::before {
            line-height: 100%;
        }
    }
}
/* row */
.wp-bootstrap-blocks-row > [class^="col-"],
.wp-block-wp-bootstrap-blocks-column,
.wp-block-column {
    .wp-block-pts-content-block-icon-text {
        .pts-title {
            font-size: 1.6rem;
        }
    }
}